# Compiled files
dist/

# Config file
config/config.js

# Node stuff
node_modules
*/node_modules
.npm
.node_repl_history
.lock-wscript
logs
*.log
npm-debug.log*

# OS stuff
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
._*
.DS_Store
.Spotlight-V100
.Trashes

*/.env

*.zip

*/package-lock.json

*/node_modules

server/old
server/tiles/*

*/page-data