/* Variables for the provided HEX colors */
:root {
  --color-dark: #0f0a0a;
  --color-gray: #676666;
  --color-purple: #b14aed;
  --color-white: #fbfffe;
  --color-green: #45cb85;
}

body {
  background-color: var(--color-dark);
  color: var(--color-dark);
  font-family: Arial, sans-serif;
}

.header {
  background-color: var(--color-gray);
  color: var(--color-white);
}

.contentContainer {
  color: var(--color-white);
  text-align: left;
}

p,
hr {
  color: var(--color-white);
}
strong
{
  text-underline-position: under;
}

h1,
h2,
h3 {
  color: var(--color-gray);
  font: bold;
}

a {
  color: var(--color-green);
  text-decoration: none;
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
  color: var(--color-gray);
}

.list {
  display: grid;
  margin: 0;
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: var(--color-gray);
}

.listItemLink {
  color: var(--color-green);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-gray);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

@keyframes fallingImage {
  0% {
    transform: translateY(-100%) scale(2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animatedImage {
  animation: fallingImage 1s ease forwards;
}

.a_icon {
  margin-right: 0.4rem;
}
